.searchform {
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
  max-width: 400px;
}

.searchinput {
  background-color: var(--light);
  border: 2px solid var(--light);
  border-radius: 8px;
  outline: transparent;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  color: var(--darkest);
  transition: border-color var(--tra);
}

.searchinput::placeholder {
  color: var(--subtext);
}

.searchinput:focus {
  border-color: var(--subtext);
}

.searchinput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%232c1e2e" stroke-width="2"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
}
